<div class="ms-auto d-flex">
    @if ((bool)User?.Identity?.IsAuthenticated)
    {
        if (User.IsInRole("admin") || User.IsInRole("hrPersonal"))
        {
            @*   <li class="nav-item">
                    <a class="nav-link text-dark mx-2" asp-area="" asp-controller="Account" asp-action="Register">Kayıt Ol</a>
                 </li> *@
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Teachers" asp-action="Index">Öğretmenler</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Classrooms" asp-action="Index">Sınıflar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Index">Öğrenciler</a>
            </li>
            @if (User.IsInRole("admin"))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin Paneli</a>
                </li>
            }
        }

        <li class="nav-item mx-2">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="EditUser">Bilgileri Düzenle</a>
        </li>

        <li class="nav-item">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger nav-link text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Çıkış Yap
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Çıkış Yapma Uyarısı</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Çıkmak istediğinize emin misiniz?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                            <a class="btn btn-danger" asp-area="" asp-controller="Account" asp-action="Logout">Çıkış Yap</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Giriş Yap</a>
        </li>
    }

</div>