@{
    ViewData["Title"] = "ChangePassword";
}
@model ChangePasswordDTO

<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Şifre Değiştirme</h3>
            </div>
            <form asp-action="ChangePassword">
                <input type="hidden" asp-for="Id" />
                <div class="card-body">
                    <div>
                        <label asp-for="OldPassword" class="form-label"></label>
                        <input type="password" asp-for="OldPassword" class="form-control" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Password" class="form-label"></label>
                        <input type="password" asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="PasswordCheck" class="form-label"></label>
                        <input type="password" asp-for="PasswordCheck" class="form-control" />
                        <span asp-validation-for="PasswordCheck" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-center" style="height:50px;">
                    <button type="submit" class="btn btn-outline-success d-block w-100">Giriş</button>
                </div>
            </form>
        </div>
    </div>
</div>

