@{
    ViewData["Title"] = "Login";
}
@model LoginDTO

<div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Bilge Adam Öğrenci Portal</h3>
                </div>
                <form asp-action="Login">
                    <div class="card-body">
                        <div>
                            <label asp-for="UserName" class="form-label"></label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div>
                            <label asp-for="Password" class="form-label"></label>
                            <input type="password" asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-center" style="height:50px;">
                        <button type="submit" class="btn btn-outline-success d-block w-100">Giriş</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

